<section class="card">
    <h1>Login</h1>

    <form action="/login" method="POST" class="form">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <a class="btn-link" href="/register">Create an account</a>
</section>